<launch>

<node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_link" args="0 0.04 0 0 0 0 base_link camera_link 30" />

   <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">  
       <remap from="cloud_in" to="/camera/depth_registered/points"/>
       <remap from="scan" to ="/camera/scan"/>
       <rosparam command="load" file="$(find launch_sam)/launch/kin.yaml" />  
    </node>
</launch>

